<div class="contaiber">
	　　<div class="row">
			<div class="taikai">
				<h2>本当に退会しますか？</h2>
			</div>

			<ul class="inline">

				<li class="font-size"><%= link_to "はい", enduser_enduser_path(@enduser.id), class:"btn-lg btn-danger destroy", method: :delete, "data-confirm" => "本当に削除しますか？？" %></li>

				<li><%= link_to "いいえ", enduser_enduser_path(current_endusers_enduser.id) %></li>

			</ul>
	    </div>
</div>