<div class="col-lg-12">
	<img>
	<ul class="list-group">
		<li class="status list-group-item"></li>
		<li class="cd-number list-group-item"></li>
		<li class="cd-title list-group-item"></li>
		<li class="cd-artist list-group-item"></li>
		<li class="cd-release list-group-item"></li>
		<li class="cd-price list-group-item"></li>
		<li class="cd-label list-group-item"></li>
		<li class="cd-genre list-group-item"></li>
	</ul>
	<div class="">
		<p class="edit">編集</p>
		<p class="destroy">削除</p>
	</div>
</div>



