
<div id="container">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>
<div class="about">
	<p class="top-title" style="color: white; font-size: x-large;">CD NEXT ONLINEとは?</p>
	<p style="color: white;">バンド系専門のCD販売サイトです。<br>
		音楽の楽しみ方がストリーミングや動画での視聴が中心になっている今だからこそ、<br>
		アーティストたちがこだわり抜いて作成した<br>
		CDでの音楽を楽しみませんか?<br>
		CD NEXT ONLINEは皆さんがバンドの世界観を共有できる<br>
		架け橋になることを目標にしています。</p>
	<div class="image">
	  <%= image_tag 'name.png', style: "width: 300px; height: 300px;" %>
	</div>
</div>

