<h1>Endusers#show</h1>
<p>Find me in app/views/endusers/show.html.erb</p>
<header>
</header>
<div class="container main-contents">
  <div class="row">
  	<div class="col-xs-4">
  	  <%= @user.name %>
  	</div>
  	<div class="col-xs-4">
  	  <table>
  	  	<tr>
  	  	  <th>郵便番号</th>
  	  	  <td><%= @user.postcode %></td>
  	  	</tr>
  	  	<tr>
  	  	  <th>住所</th>
  	  	  <td><%= @user.
  	  	</tr>
  	  </table>
  	</div>
  </div>
</div>