// Place all the styles related to the cds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	padding-bottom: 10px;
}
.create {
	padding-top: 10px;
}
.cd-info {
	float: left;
	padding-right: 30px;
}
.text-right {
	padding-right: 30px;
	font-weight: bold;
}
.success {
	padding-top: 10px;
}

.cd-show {
	padding-top: 50px;
	padding-bottom: 50px;
}

.review-title {
	font-weight: bold;
}

.new-review-title {
	padding-top: 20px;
}
.new-review-body {
	padding-top: 20px;
	padding-bottom: 10px;
}

.new-review-create {
	padding-bottom: 30px;
}