// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*ユウの領域*/
.genrebox {
  width: 300px; /* 横幅 */
  height: 100px; /* 高さ */
  padding-top: 100px;
  margin: 0 auto;
}


.labelbox {
  width: 300px; /* 横幅 */
  height: 100px; /* 高さ */
  padding-top: 150px;
  margin: 0 auto;

}

.artistbox {
  width: 300px; /* 横幅 */
  height: 100px; /* 高さ */
  padding-top: 150px;
  margin: 0 auto;

}

.row {
  width: 100%; /* 横幅 */
  height: 50px; /* 高さ */
  margin: 0 auto;
  padding: 0 10%;
}

.title {
  width: 100%; /* 横幅 */
  height: 50px; /* 高さ */
  margin: 0 auto;
  padding: 0 7%;

  }


