// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about {
	width: 100%;
	height: 550px;
	background-image: url(orion.jpg);
}

.image {
	text-align: center;
}

.top-title {
	text-align: center;
	padding-top: 100px
}

p {
	text-align: center;
	font-size: large;
}

.title h1{
  -webkit-animation: scrollmask 10s ease 1.5s infinite;
  -webkit-background-clip: text;
  background-image: url(img/sample.jpg);
  color: transparent;
  font-size: 80px;
}
@-webkit-keyframes scrollmask {
  0% {background-position: 0 0;}
  100% {background-position: 100% 0;}
}